.abm-entity {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
}

.abm-title{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.abm-title h1{
    font-size: 2rem;
}

th{
    border-bottom: 1px solid rgb(0, 0, 0);
}

td{ 
    border-bottom: 1px solid rgb(230, 230, 230);
}
tr:hover{
    background-color: rgb(210, 210, 210);
}

.crear-entity {
    display: flex;
    gap: .5rem;
    align-items: center;
    width: fit-content;
    padding: .25rem .5rem;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    border: 1px solid black;
}

.btn-accion {
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: none;
}
  
.entity-table {
    border-spacing: 0;
    width: 100%;
    font-size: 14px;
}


.entity-table th, .entity-table td {
    padding: .5rem;
    text-align: left;
}

