header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem ;
    font-size: 14px;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}



#dropdown-basic{
    display: flex;
    gap: .25rem;
    align-items: center;
    background-color: black !important;
    color: white !important;
    font-size: 14px !important; 
    border-radius: 0 !important;
    border: none !important;
}
 

nav a{
    font-size: 14px;
    color: black !important;
    text-decoration: none !important;
}

.dropdown-item:hover{
    background-color: rgb(206, 206, 206);
}
.dropdown-item:active{
    background-color: rgb(206, 206, 206) !important;
}

.home-anchor{
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: 6px 12px;
    border: 1px solid black;
}